doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      html, body, svg { height: 100%; }
      body { margin: 8px 16px; }
      header { display: flex; align-items: center; margin: .5em 0; }
      h1 { margin: 0; }
  body
    header
      h1 svg-pan-zoom-container
      a(href="https://github.com/luncheon/svg-pan-zoom-container")
        img(src="https://cdn.jsdelivr.net/npm/octicons@7.0.1/build/svg/mark-github.svg" alt="GitHub" style="height: 2.5em; margin-left: 1em; vertical-align: bottom;")
    p SVG でパン（ドラッグ）とズーム（ホイール）するやつ

    div(data-svg-pan-zoom-container style="border: 1px solid grey; width: 400px; height: 400px;")
      include ./sample.svg
    div#zoom-controller
      input#scale(type="number" value="100")
      button#reset(type="button" onclick="svgPanZoomContainer.reset(document.querySelector('[data-svg-pan-zoom-container]'))") リセット
    script(src="svg-pan-zoom-container.js")
    script.
      (function () {
        const container = document.querySelector('[data-svg-pan-zoom-container]')
        new MutationObserver(function (mutations) {
          mutations.forEach(function (mutation) {
            document.getElementById('scale').value = svgPanZoomContainer.getScale(mutation.target.parentElement) * 100
          })
        }).observe(container.firstElementChild, { attributes: true, attributeFilter: ['transform'] })
      })()
