doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      html, body, svg { height: 100% }
      body { margin: 0 }
      svg { vertical-align: middle }
  body
    div(style="border: 1px solid grey; width: 400px; height: 400px; overflow: hidden; position: relative;")
      include ./sample.svg
      div#zoom-controller(style="position: absolute; right: 10px; bottom: 10px;")
        input#scale(type="number" value="100")
        button#reset(type="button") リセット
    script(src="svg-pan-zoom-select.js")
    script.
      (function () {
        const controller = svgPanZoomSelect(
          document.getElementsByTagName('svg')[0],
          {
            onChange: function (c) {
              document.getElementById('scale').value = c.scale * 100
            }
          },
        )
        document.getElementById('reset').addEventListener('click', function () {
          controller.reset()
        })
      })()
